<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= link_to 'Volver', posts_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <p class="card-text text-muted">Publicado por <%= @post.user.email %></p>
        <h1 class="display-4 text-primary"><%= @post.title %></h1>
        <p class="lead"><%= @post.body %></p>
        <hr class="my-4">
        <% if signed_in? %>
          <%= link_to 'Editar', edit_post_path(@post.id), class: "btn btn-primary" %>
          <%= link_to 'Eliminar', @post, method: :delete, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>