<div class="container mt-4">
  <div class="row">
    <div class="col">
      <%= link_to 'Volver', posts_path %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <p class="card-text text-muted">Publicado por <%= @post.user.email %> hace <%= time_ago_in_words(@post.created_at)%></p>
        <h1 class="display-4 text-primary"><%= @post.title.capitalize %></h1>
        <p class="lead"><%= markdown(@post.body.capitalize) %></p>
        <hr class="my-4">
        <% if signed_in? && @post.user == current_user%>
          <%= link_to 'Editar', edit_post_path(@post.id), class: "btn btn-primary" %>
          <%= link_to 'Eliminar', @post, method: :delete, class: "btn btn-primary", :data => {:confirm => "Esta seguro de eliminar este Post?"} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Comenatrios</h2>

      <% @post.comments.each do |comment| %>
        <div class="card mb-3">
          <header class="card-header">Publicado por <%= comment.user.email %></header>
          <div class="card-body"><%= comment.body %></div>
        </div>
      <% end %>

      <% if signed_in? %>
        <%= form_for [@post, @post.comments.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
          </div>
          <div class="actions text-right">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>

    </div>
</div>